
* {
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 90px;
}

.header {
    background: #282846;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;

}

.nav-link {
    color: #ddd;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;

}
.logo img {
    width: 170px;
   
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;   
    
}

.nav-menu__item {
    font-size: 18px;
    margin: 0 20px;
    line-height: 80px;
    width: max-content; /* No nos corte el contenido y lo baje para abajo*/
}


.nav-menu__link:hover {
    color: #fed049;
    transition: .5s;
    
}

.nav-toggle {
    color: #fed049;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}


@media (max-width: 992px){
    .logo {
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;

    }
    .header {
        height: 60px;
    }

    .logo img {
        width: 150px;
       
    }

.nav-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    background: #282846;
    position: fixed;
    left: 100%;
    top: 60px;
    padding: 15px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

}

.nav-menu__item {
    line-height: 70px;
}

.nav-toggle {
    display: block;
    line-height: 60px;
}

}

.nav-menu__visible {
    left: 0;
} 
.nav-menu__invisible {
    left: 100%;

}


/*Galery*/

.galery-container {
    background: #282846;
    padding: 20px;
    display: flex;
    max-width: 992px;
    margin: 15px auto;
    
   
}


.grid-container {
    background: #ddd;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 4px;
    border: 10px solid #ddd;
    border-radius: 4px;
    


}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image.activa {
    grid-column: 1/2;
    grid-row: 1/2;
    
}

.image:hover {
    cursor: pointer;
}

.title {

   margin: auto;

}

.title h1 {
    color: #ddd;
    padding: 15px;
    font-size: 2em;
    text-align: center;
}

.title h2 {
    color: #ddd;
    text-align: center;
}

.button {
    text-align: center;
    margin-top: 50px;
}

.button-cta {
    background-color: #fed049;
    color: #282846;
    margin: 20px;
    padding: 15px;
    border: 1px solid #282846;
    border-radius: 4px; 
    text-decoration: none; 
    font-weight: bold;

}


.button:hover {
    transform: scale(1.1);
}




@media (max-width: 768px) {
    .galery-container {
        flex-direction: column-reverse;
    }

    .grid-container {
        width: 80%;
        margin: 20px auto;
    }


    .button {
        display: none;
    }  

    .button.landing {
        display: inherit;
    }

}

.section-container {
    margin: 0 80px;
    

}
.ancla:before {       
    display: block;       
    content: " " ;      
    margin-top: -90px;       
    height: 90px;       
    visibility: hidden;
  } 



.section-title {
    padding-top: 30px;
    color: #282846;
    margin-bottom: 15px;
}


.paragraph {

    font-size: 1.2em;

}




.slills-fab {
    font-size: 80px;
    color: #282846;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .section-container {
        margin: 0 60px;
        text-align: center;   
    
}
.slills-fab {
    font-size: 60px;
}
}



/*FOOTER*/
.footer {
    margin-top: 60px;
    width: 100%;
    height: 50px;
    background-color:#282846;
    text-align: center;
    
}

.footer-fab {
    color: #ddd;
    line-height: 50px;
    font-size: 30px;
    
}



.footer-fab a {
    color: #ddd;
    padding: 10px;
}
.footer-fab a:visited {
    color: #ddd;
}

